*{
    font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
.btn{
  color: black;
  width: 240px;
  height: 60px;
  border: none;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#calculator{
  width: 300px;
  margin: 30px;
  text-align: center;
  background-color: rgb(235, 235, 235);
  padding: 45px;
  border-radius: 3px;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.btn:active{
  background-color:#89e2e4;
  color: white;
}
.row{
  display: flex;
  justify-content: space-around;
  align-items: center;
  table-layout: fixed;
  width: 300px;
}
.cal-btn-func{
  background-color: #7aef6c9e;
}
.cal-btn-num, #btn-dot, #btn-equal{
  background-color: white;
}
#display{
  height: 90px;
  width: 297px;
  display: block;
  text-align: left;
  font-size: 50px;
  background-color: white;
  padding: 0 0 0 5px;
  margin-bottom: 3px;
  border-radius: 3px;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  
}


